## Program 9: Comparison of performance of classifiers

In this program we will compare the classification performance of 5 classifiers - K Nearest Neighbors, Support Vector Machines, Decision Tree, Multilayer perceptron and Gaussian Naive Bayes for the classification of Iris Data set. 

Iris dataset contains 4 features (SepalLength,	SepalWidth,	PetalLength,	PetalWidth) and the target "Species" the species names of different kinds of flowers.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.naive_bayes import GaussianNB

In [2]:
names = [
    "K-Nearest Neighbors",
    "Linear SVM",
    "Decision Tree",
    "Multilayer Perceptron",
    "Gaussian Naive Bayes",
    ]

classifiers = [
    KNeighborsClassifier(3),
    SVC(kernel="linear", C=0.025),
    DecisionTreeClassifier(max_depth=5),
    MLPClassifier(alpha=1, max_iter=1000),
    GaussianNB(),
]

In [3]:
df = pd.read_csv("Iris.csv")
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df = df.drop("Id", axis = 1)
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
#Extract X and y as features and target
X= df.iloc[:, :-1]
X.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [6]:
y = df.iloc[:, -1]
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

In [7]:
#Since target column is categorical , we will convert it to numerical usign LabelEncoder
from sklearn.preprocessing import LabelEncoder
y = LabelEncoder().fit_transform(y)
y = pd.DataFrame(y)
y.head()

   0
0  0
1  0
2  0
3  0
4  0

In [8]:
#Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [9]:
# Using a for loop fit all the classifiers to X_train and y_train and print the accuracy score of each classifier
for name, clf in zip(names, classifiers):
    clf.fit(X_train, y_train.values.ravel())
    score = clf.score(X_test, y_test)
    print("Classifier Name: ", name, "Score: ",  score)

Classifier Name:  K-Nearest Neighbors Score:  0.98
Classifier Name:  Linear SVM Score:  0.96
Classifier Name:  Decision Tree Score:  0.98
Classifier Name:  Multilayer Perceptron Score:  0.98
Classifier Name:  Gaussian Naive Bayes Score:  0.96